.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
}

.points {
  font-size: 1.2rem;
}
