/* Page wrapper (Home Page) */
.page-container {
  width: 80%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 1rem;
}

.countdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.countdown-banner {
  background-color: #0a3706;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-weight: 600;
}

.countdown-timer {
  margin-left: 0.5rem;
  color: #ddf20d;
}

.upgrade-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 90%;
  max-width: 330px;
  cursor: pointer;
}

.upgrade-left {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1c9b58;
}

.upgrade-center {
  flex: 1;
}

.upgrade-title {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.upgrade-subtitle {
  font-size: 0.85rem;
  color: #555;
}

.upgrade-arrow {
  font-size: 1.5rem;
  color: #888;
}


@media screen and (max-width: 600px) {
  .upgrade-modal {
    width: 90%;
    padding: 1rem;
  }

  .page-container {
    width: 95%;
  }
}


/* Shared Modal Elements */
.modal-card {
  background-color: #1c9b58;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 250px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Shared banner style */
.reward-banner {
  background-color: #0a3706;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  font-size: 0.85rem;
}

.reward-banner span {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.done-label {
  color: #ddf20d;
  font-weight: bold;
}

.check-icon {
  margin-right: 0.3rem;
}

/* For bonus/highlighted points */
.bonus-points {
  font-size: 1.2rem;
  color: #ddf20d;
  font-weight: bold;
  margin: 0;
}

/* Shared points container */
.reward-points-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-button {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  background-color: white;
  color: #5b7259;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  max-width: 240px;
  align-self: center;
  margin-top: 1rem;
  display: block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.global-button:hover {
  background-color: #f3f3f3;
}

/* Modal Overlay */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}